@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 767px) {
  [data-aos] {
    pointer-events: auto !important;
    opacity: 1 !important;
    transform: none !important;
  }
}

body {
  background-color: #1a1e2a;
}


/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #161d2d;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282d3b;
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #1f2941;
}